﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Sepet.aspx.cs" Inherits="ETic.Sepet" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
   <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 800px;
            height: 100px;
        }
        
        .auto-style3 {
            border-color: #FF9900;
            background-color: #FFFF99;
        }
                
        
        
        .auto-style6 {
            height: 89px;
        }
                
        
        
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table align="center">
            <tr>
                <td>
                    <img alt="" class="auto-style1" src="Başlıksız.png" /></td>
            </tr>
        </table>

    </div>
        <table class ="auto-style3" align="center" >
            <tr>
                  <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:Library %>" SelectCommand="SELECT * FROM [Sepetim]"></asp:SqlDataSource>
                  <td align="center">SEPETİM</td>
            </tr>
            <tr>
                <td>
            
                    
            
            <asp:DataList ID="DataList1" runat="server" RepeatColumns="5" Height="105px">        
            <ItemTemplate>
               
                   <td>
                   <asp:Panel ID="Panel1" runat="server" BorderColor="#660033" Height="51px" Width="180px" BackColor="White" BorderStyle="Solid">
                    <div style="margin-left: auto; margin-right: auto; text-align: center;" class="auto-style6">
                 
                        <asp:Label ID="Label1" runat="server" Text="">Ürün Adı: <%#Eval("Ad") %></asp:Label>
                        <asp:HiddenField ID="HiddenFieldId" runat="server" Value='<%# Eval("Id") %>'/>
                        <br />
                        <asp:Label ID="Label2" runat="server" Text="">Fiyatı: <%#Eval("Fiyat") %></asp:Label>
                        <br />
                        <asp:Label ID="Label3" runat="server" Text="">Miktarı: <%#Eval("Miktar") %></asp:Label>
                         <br />
                         <asp:Button ID="ButtonCikar" runat="server" Text="Sepetten Çıkar" OnClick="ButtonCikar_Click" />
                    </div>
                </asp:Panel>
                 <br />
                   </td>
                <div style="margin-left: auto; margin-right: auto; text-align: center;" class="auto-style6">   
               
                    <br />
                    <br />
                    <br />
               
                </div>
                    </ItemTemplate>
             </asp:DataList> 
                    <asp:Button ID="ButtonGeri" runat="server" OnClick="ButtonGeri_Click" Text="Geri Dön" Width="93px" />
                    <asp:Button ID="ButtonAl" runat="server" Text="Satın Al" OnClick="ButtonAl_Click" Width="93px" />
                    
                    <br />
                    <br />
                   <%--  
                       Çanta temizleme işlemi için aktifleştirilebilir.
                       <asp:Button ID="ButtonGecmis" runat="server" OnClick="ButtonGecmis_Click" Text="Satın Alma Geçmişini Temizle" /> --%>
                    
             </td>
            </tr>
        </table>
    </form>
</body>
</html>
